.info-container {
  background-color: #d4faff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  background-color: #f9fefe;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.info-card img {
  width: 80px;
  margin-bottom: 20px;
}

.info-card h2 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #1d3e45;
}

.info-card p {
  margin: 5px 0;
  color: #333;
}



.info-button {
  background-color: #1d3e45;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 20px;
  margin-bottom: 9px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.info-button:hover {
  background-color: #2f3f44;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.info-back-button {
  background-color: #c0392b;
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.info-back-button:hover {
  background-color: #e74c3c;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
