.home-container {
  background-color: #cbf8ff;
  height: 135vh;
  padding: 3rem;
  position: relative;
}

/* Disable all cards if not logged in */
.home-container.disabled {
  pointer-events: none;
  opacity: 0.6;
}

/* Show warning below navbar */
.home-warning {
  text-align: center;
  background-color: #fef4f4;
  color: #c0392b;
  padding: 1rem;
  font-weight: bold;
}

/* Each card will be absolutely positioned inside .home-container */
.card {
  width: 260px;
  height: 180px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: absolute;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}



.card.purple {
  background-color: #e9e3ff;
  color: #3c2e84;
  border: 2px solid #e9e3ff;
  width: 61%;       /* ขนาดเท่ากับ doctor */
  height: 200px;    /* ขนาดเท่ากับ doctor */
  top: 8%;         /* ตรงกับ doctor */
  left: 19%;        /* เลื่อนขวา ให้ห่างจาก doctor */
}

.card.purple img {
  width: 120px;   /* กำหนดความกว้าง */
  height: 120px;  /* ให้สูงอัตโนมัติตามสัดส่วน */
  object-fit: contain; /* ป้องกันภาพบิดเบี้ยว */
}


.card.dark {
  background-color: #86b7a5;
  color: #3a4a44;
  border: 2px solid #86b7a5;
  width: 61%;
  height: 200px;
  top: 39%;         /* ตรงกับ appointment */
  left: 19%;
}

.card.dark img {
  width: 120px;   /* กำหนดความกว้าง */
  height: 120px;  /* ให้สูงอัตโนมัติตามสัดส่วน */
  object-fit: contain; /* ป้องกันภาพบิดเบี้ยว */
}

.card.list {
  background-color: #698a97;
  color: #30515e;
  border: 2px solid #698a97;
  width: 61%;
  height: 200px;
  top: 71%;         /* ตรงกับ appointment */
  left: 19%;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* เต็มจอ */
  background-color: #cbf8ff;
}

.carousel-container {
  width: 100%;
  max-height: 400px;
  position: relative; /* ทำให้ overlay ซ้อนทับได้ */
  overflow: hidden;
  margin-bottom: 1rem;
}

.carousel-slide {
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

/* ส่วนแสดงข้อความซ้อนบนรูป */
.carousel-overlay {
  position: absolute;
  top: 71%; /* ปรับตำแหน่งแนวตั้ง */
  left: 7%; /* ปรับตำแหน่งแนวนอน */
  background-color: rgba(29, 62, 69, 1); /* พื้นหลังโปร่งใส */
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  max-width: 60%;
  z-index: 2;
}

.carousel-overlay h3 {
  margin: 0;
  font-size: 1.5rem;
}

.carousel-overlay p {
  margin: 0.5rem 0 0;
  font-size: 1rem;
}

