.navbar {
  background-color: #b6e8f0;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.nav-logo-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo {
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.nav-logo:hover {
  transform: scale(1.5) rotate(360deg);
}

.clinic-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #1e2b30;
}

.nav-button {
  background-color: #1e2b30;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-button:hover {
  background-color: #2f3f44;
  scale: 1.1
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.nav-user-icon {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: white;
  padding: 4px;
  border: 2px solid #1e2b30;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.nav-user-icon:hover {
  transform: scale(1.1);
}

